//
// Forms
// --------------------------------------------------
form {
    padding: 0 1rem;
}

input,
textarea,
select {
    border: 1px solid rgb(204, 204, 204);
    width: calc(100% - 2px - 1rem);
    min-height: 3rem;
    font-family: $font-family-base;
    color: $text-color;
    font-size: 1.2rem;
    border-radius: 0;
    padding: 0 1rem;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 1.2rem;
    font-family: $font-family-base;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
    font-size: 1.2rem;
    font-family: $font-family-base;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
    font-size: 1.2rem;
    font-family: $font-family-base;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
    font-size: 1.2rem;
    font-family: $font-family-base;
}

.text-input {
  height: 50px;
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  &::placeholder {
    color: #767676;
    font-size: 16px;
  }
  &:focus {
    border: #1A4F8B;
    &::placeholder {
      color: #1A4F8B;
    }
  }
}

.field__input {
  position: relative;
  .icon {
    position: absolute;
    left: 17px;
    top: 16px;
    width: 16px;
    height: 17px;
  }
  &.iconed {
    .text-input {
      padding-left: 46px;
    }
  }
}
