.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-blog {
    display: block;
}

.text-input + .icon {
  fill: #AEAEAE;
  stroke: #AEAEAE;
}

.text-input:focus + .icon {
  fill: $brand-primary;
  stroke: $brand-primary;
}
